* {
    box-sizing: border-box;
}
body {
    line-height: 1.4em;
    margin: 0;
    font-family: 'Scada', sans-serif;
    color: #1F0F08;
    background: #ECE9E4;
}
ul, li {
    display: block;
    padding: 0;
    margin: 0;
}
a, a:hover {
    color: #1F0F08;
    text-decoration: none;
}
input {outline:none;}
                       /*Header*/

.header_inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    height: 140px;
    align-items: center;
}

.navbar_wrapper {
    height: 100%;
    position: relative;
}

.navbar {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    position: relative;
    height: 100%;
}

.navbar ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.navbar li {
    text-decoration: none;
    list-style: none;
    margin-left: 20px;
}

.navbar a {
    font-weight: bold;
}

.gamburger_wrapper {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    display: none;
    color: #1F0F08;
    cursor: pointer;
}

.gamburger {
    position: relative;
    font-size: 42px;
    transition: .75s transform ease;
    transform: rotate(0deg);
}

.gamburger .fa-times{
    opacity: 0;
    font-size: 43px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: .75s opacity ease;
}

.gamburger .fa-bars{
    opacity: 1;
    transition: .75s opacity ease;
}

.navbar_active .gamburger {
    transform: rotate(90deg);
}

.navbar_active .gamburger .fa-times{
    opacity: 1;
}

.navbar_active .gamburger .fa-bars{
    opacity: 0;
}

.cart_text_ref {
    display: none;
}

.header__cart {
    margin-left: 25px;
}

                      /*Main section*/
.main {
    //height: 83vh;
    height: calc(100vh - 140px);
    min-height: 500px;
    max-height: 700px;
    text-align: center;
    color: #fff;
    background: url("../img/wood.jpg") no-repeat center top;
    background-size: 100%;
}
h1 {
    font-size: 50px;
    text-transform: uppercase;
}
.main__title-sub {
    font-size: 30px;
}

                 /*About section*/

.about {
    text-align: center;
    padding: 80px 0;
}
.section__title {
    margin-bottom: 50px;
    font-size: 35px;
    text-align: center;
}
.about__text {
    margin-bottom: 50px;
}
.button {
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding: 12px 20px;
    border-radius: 50px;
    background: #573718;
}
.create-button {
    display: block;
    width: 190px;

}
.create-button:hover {
    text-decoration: none;
    color: #fff;
}

.add_to_cart_button_disabled {
    opacity: .7;
    overflow: hidden;
    position: relative;
}
.add_to_cart_button_disabled::after {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;

    right: 0;
    bottom: 0;
    transform: translate(50%,50%) rotate(45deg);
    background-color: green;
}

                                  /*Products section*/

.products {
    padding: 80px 0;
    background: #EBE1D7;
}
.tabs__caption {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.products .tabs__caption {
    margin-bottom: 20px;
}
.tabs__content {
    display: none; /* по умолчанию прячем все блоки */
}
.tabs__content.active {
    display: block; /* по умолчанию показываем нужный блок */
}
.product {
    margin-bottom: 30px;
    text-align: center;
}
.product__button {
    margin-top: 10px;
    font-size: 18px;
    padding: 5px 20px;
    border: solid #1F0F08 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product__button img {
    width: 23px;
    height: 23px;
}
.product__text-below {
    margin-top: 20px;
    font-size: 18px;
}
.products__title {
    cursor: pointer;
    font-size: 30px;
    opacity: 0.7;
}
.active .products__title {
    font-size: 35px;
    opacity: 1;
}
.product__price {
    font-weight: bold;
}
.product__img {
    width: 100%;
    height: auto;
}
.products-more {
    color: #1F0F08;
    text-decoration: none;
    cursor: pointer;
    //margin-top: 40px;
    font-size: 18px;
}
.products-more img {
    margin-left: 7px;
}
.products-more:hover {
    text-decoration: none;
    color: #1F0F08;
}
.arrow {
    width: 17px;
    height: 17px;
}

                                     /*Comments*/

.comments {
    padding: 80px 0;
    text-align: center;
}
.comment img {
    width: 200px;
    height: 200px;
}
.comment__text {
    margin-top: 40px;
}
                                     /*Footer*/

.footer {
    padding: 70px 0;
    background: #1F0F08;
}
.socials {
    display: flex;
    justify-content: center;
}

.socials img {
    margin-left: 30px;
    width: 50px;
    height: 50px;
}
.socials img:first-child {
    margin-left: 0;
}

                                    /*Catalog*/

.sub-page {
    background: #EBE1D7;
}
.sub-page {
    padding: 50px 0;
}
.mybreadcrumb {
    margin-bottom: 30px;
}

                                    /*Form*/

.form-block {
    margin: 0 auto;
    font-size: 18px;
}
.form__title {
    font-size: 20px;
    margin: 15px 0 10px 0;
}
.input-wishes {
    color: #1F0F08;
    width: 70%;
    margin-top: 40px;
    border: 0;
    border-bottom: solid #1F0F08 1px;
    background: #EBE1D7;
}
.choose-file {
    background: url("../img/school-paper-clip.svg");
    font-size: 0;
}
.text-file {
    display: flex;
    align-items: flex-end;
}

.label {
    cursor: pointer;
    margin: 0;
    margin-left: 15px;
    padding: 0;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background: #1F0F08;
}
.label img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: calc( 50% - 10px);
    left: calc( 50% - 10px);
}
.form-group {
    margin: 0;
    padding: 0;
}
input[type=file] {
    --blueoutline:0;opacity:0;pointer-events:none;user-select:none
}


                                    /*Cart*/

.good__text-mob {
    display: none;
}
.cart__data {
    margin-top: 30px;
}
.cart__title {
    margin-bottom: 15px;
    font-size: 27px;
}
.good__amount {
    position: relative;
    text-align: center;
}
.good__amount:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -7px;
    width: 30px;
    height: 1px;
    background: #1F0F08;
}
.cart input {
    margin-bottom: 15px;
    width: 100%;
    color: #1F0F08;
    border: 0;
    border-bottom: solid #1F0F08 1px;
    background: #EBE1D7;
}
.cart__summary {
    margin-top: 10px;
    font-size: 18px;
}

                                    /*Adaptation*/

@media (max-width: 992px) {
    .gamburger_wrapper {
        display: block;
    }
    .navbar ul{
        position: absolute;
        flex-direction: column;
        top: 100%;
        right: 0;
        z-index: 1000;

        background-color: #1F0F08;
        padding: 5px;

        opacity: 0;
        transform: translateY(-50px);
        transition: .75s all ease;
        pointer-events: none;
        border-radius: 2px;
    }
    .navbar ul::before {
        display: block;
        content: '';
        position: absolute;

        width: 21px;
        height: 21px;
        top: 0%;
        right: 10px;
        border-radius: 2px;
        background-color: #1F0F08;

        transform: translateY(-10px) rotate(45deg);
    }
    .navbar_active ul {
        pointer-events: auto;
        opacity: 1;
        transform: translateY(0px);
    }
    .navbar li{
        margin: 5px 20px;
    }
    .navbar li a {
        white-space: nowrap;
        display: block;
        color: #ECE9E4;
        margin: 10px;
    }
    .cart_text_ref {
        display: inherit;
    }
    .header__cart {
        display: none;
    }
}
@media (max-width: 576px) {
    .tabs__caption .products__title {
        font-size: 25px;
    }
    .good__text-mob {
        display: block;
    }
    .good__value {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }
    .good__value:nth-child(3){
        margin-top: 20px;
    }
    .good__amount {
        width: 30px;
    }
    .good__amount:before {
        left: 0px;

    }
    .row-relative {
        position: relative;
    }
    .product__cancel {
        position: absolute;
        top: 0;
        right: 0;
    }
}

@media (max-width: 375px) {
    .product__title {
        font-size: 16px;
    }
    .input-wishes {
        width: 82%;
    }
}

.cart_animation {
        position: fixed;
        top: 50;
        right: 15px;
        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius: 50%;
        opacity: 1;
        z-index: 10;
    }
    .cart_animation img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .product__button {
        cursor: pointer;
    }
    .good__amount { 
        -moz-appearance: textfield;
    }
    .good__amount::-webkit-inner-spin-button { 
        display: none;
    }
    .coupon {
        position: relative;
        margin-bottom: 10px;
    }
    .coupon input {
        height: 100%;
        margin: 0;
    }
    .coupon i {
        display: block;
        position: absolute;
        top: 50%;
        right: 5px;
        transform-origin: 50%;
        transform: translateY(-50%);
    }
    .coupon .fa-spinner{
        color: #6c757d;
        transform: translateY(-50%) rotate(45deg);
        animation: coupon_spinner 2s infinite linear;
    }
    .coupon .fa-check{
        color: #28a745;
    }
    .coupon .fa-times{
        color: #dc3545;
    }
    @keyframes coupon_spinner {
        0% {
            transform: translateY(-50%) rotate(0deg);
        }
        100% {
            transform: translateY(-50%) rotate(360deg);
        }
    }